	<div class="container">
        <div class="row">
	      <div class="span12">
          <div class="hero-unit">
			<div id="myCarousel" class="carousel slide">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><%= image_tag "01.jpeg"%></div>
			    <div class="item"><%= image_tag "web2.jpg"%>
					<div class="carousel-caption">
						<h4>Trouver son Emploi grace au Career Days</h4>
						<p>
							Un peu de texte sur les Career Days en bref, ce que c'est et un lien vers le site
						</p>
					</div>
				</div>
			   	<div class="item"><%= image_tag "web4.jpg"%>
					<div class="carousel-caption">
						<h4>Rejoindre l'AIESEC'</h4>
						<p>
							Developper ses capacités de leadership etc...
						</p>
					</div>
				</div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
            <h1>AIESEC | Genève</h1>
            <p>Ceci est un modele de a quoi pourrait ressembler le site de l'AIESEC. Dites moi ce que vous en pensez, mais je pense qu'il est grand temps qu'on ait un site présentable par ce que franchement à chaque fois qu'on me dit je vais aller voir votre site j'ai envie de pleurer</p>
            <p><a class="btn btn-primary btn-large">En Savoir Plus &raquo;</a>   <a class="btn btn-primary btn-large">Devenir Membre &raquo;</a></p>
          </div>
          </div>
		</div>
		<div class="row">
			<div class="span3">
             <h2>ECHANGES</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </br></p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
              <h2>ENTREPRISES</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
              <h2>EVENEMENTS</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
			<div class="span3">
              <h2>CONTACT</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          </div>
        

    </div><!--/.fluid-container-->
