@import "bootstrap";


.page-header {
	padding-top:80px;
	padding-bottom:40px;
	h1 {color: #ffffff;
		font-size: 60px}
	color: #ffffff;
	font-size: 24px;
	font-weight: 300;
	line-height:30px;
	background-color: #003399
}

.sidebar-nav {
	border:right thick;
	li{
	padding:10px
}
}