<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">L'AIESEC en bref</li>
		  <li><a href="#">Qu'est-ce que l'AIESEC</a></li>
          <li><a href="#">Le Commité Genevois</a></li>
          <li><a href="#">Devenir Membre</a></li>
		  <li><a href="#">L'AIESEC en Suisse'</a></li>
          <li class="nav-header">Echanges</li>
          <li><a href="#">Stages Professionels</a></li>
          <li><a href="#">Stages Humanitaires</a></li>
          <li class="nav-header">Nos Services</li>
          <li><a href="#">Stagiaires</a></li>
          <li><a href="#">Career Days</a></li>
          <li><a href="#">Nos Partenaires</a></li>
		  <li class="nav-header">Evenements</li>
          <li><a href="#">End Ignorance</a></li>
		  <li><a href="#">Career Days</a></li>
		  <li><a href="#">Global Village</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->